.main-link {
  color: #0070c9;
  text-decoration: none;
}
  
.main-link:hover {
  text-decoration: underline;
}

.main-quotes {
  font-style: italic;
  quotes: "\00ab" "\00bb";
}

.about-me {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-me-gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -5px;
}

.about-me-column {
  display: flex;
  flex-direction: column;
  max-width: 33.333333%;
}

.about-me-item {
  box-sizing: border-box;
  padding: 5px;
}

.about-me-column__img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

.display-none-576-flex, .display-none-768-flex, .display-none-992-flex {
  display: none;
}

@media (min-width: 576px) {
  .display-none-576-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .display-none-768-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 11.111111%;
  }
}

@media (min-width: 992px) {
  .display-none-992-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 8.333333%;
  }
}