.main-link {
  color: rgb(0, 112, 201);
  color: var(--main-link-color);
  outline: none;
  text-decoration: none;
}
  
.main-link:hover {
  text-decoration: underline;
}

.main-quotes {
  font-style: italic;
  quotes: "\00ab" "\00bb";
}

.about-me {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-me-gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
}

.about-me-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 33.333333%;
}

.about-me-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.about-me-column__img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

.display-none-576-flex, .display-none-768-flex, .display-none-992-flex {
  display: none;
}

@media (min-width: 576px) {
  .display-none-576-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .display-none-768-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 11.111111%;
  }
}

@media (min-width: 992px) {
  .display-none-992-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 8.333333%;
  }
}