.header {
  background-color: var(--general-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--general-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.logo-img, .icon-hamburger {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 7px 17px;
  z-index: 10;
}

.logo-text, .menu-link {
  color: var(--header-footer-color);
  font-family: San-Francisco;
  font-style: normal;
}

.logo-text {
  font-size: 25px;
  font-weight: 100;
}

.icon-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-hamburger-item {
  background-color: var(--header-footer-color);
  display: block;
  height: 1px;
  margin: 4px 0;
  -webkit-transition-duration: var(--general-transition-duration);
       -o-transition-duration: var(--general-transition-duration);
          transition-duration: var(--general-transition-duration);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  width: 30px;
}

.icon-hamburger_cross .icon-hamburger-item {
  opacity: 0;
}

.icon-hamburger_cross .icon-hamburger-item:first-child {
  opacity: 1;
  -webkit-transform: translateY(9px) rotate(-45deg);
      -ms-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
}

.icon-hamburger_cross .icon-hamburger-item:last-child {
  opacity: 1;
  -webkit-transform: translateY(-9px) rotate(45deg);
      -ms-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
}

.menu {
  background-color: var(--general-color);
  bottom: -230px;
  margin: 0;
  padding: 10px 0 10px;
  position: absolute;
  -webkit-transition-duration: var(--general-transition-duration);
       -o-transition-duration: var(--general-transition-duration);
          transition-duration: var(--general-transition-duration);
  -webkit-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  width: 100%;
}

.menu_close {
  bottom: 100%;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 200;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12px 0 12px 67px;
}

.menu-link:hover {
  background-color: var(--header-footer-color);
  color: var(--general-color);
  font-weight: 400;
}

.menu-link__underline {
  display: none;
}

@media (min-width: 992px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .icon-hamburger {
    display: none;
  }

  .menu {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    padding: 0;
    position: static;
    width: auto;
  }

  .menu-item {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    padding: 0 25px;
  }

  .menu-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .menu-link:hover {
    background-color: var(--general-color);
    color: var(--header-footer-color);
    font-weight: 200;
  }

  .menu-link__underline {
    background-color: var(--header-footer-color);
    display: block;
    height: 1px;
    -webkit-transition-duration: var(--general-transition-duration);
         -o-transition-duration: var(--general-transition-duration);
            transition-duration: var(--general-transition-duration);
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    width: 0;
  }

  .menu-link:hover .menu-link__underline {
    width: 100%;
  }
}