.main-list {
  list-style-type: none;
  padding-left: 34px;
}

.main-list-item {
  font-family: San-Francisco;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  margin: 6px 0;
  text-indent: -19px;
}

.main-list-item:before{
  content: "-";
  padding-right: 12px;
  font-weight: 200;
}

.events {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.responsive-images {
  height: auto;
  max-width: 100%;
}

.main-strong-200, .main-strong-300, .main-strong-400 {
  color: var(--main-text-color);
  font-size: 18px;
}

.main-strong-200 {
  font-weight: 200;
}

.main-strong-300 {
  font-weight: 300;
}

.main-strong-400 {
  font-weight: 400;
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* width: 50%; */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-list-item {
    font-size: 17px;
    text-indent: 20px;
    margin: 8px 0;
  }

  .main-strong-300, .main-strong-400 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .main-list-item {
    font-size: 19px;
    text-indent: -21px;
    margin: 10px 0;
  }

  .main-strong-300, .main-strong-400 {
    font-size: 22px;
  }
}