/* ==================================================================== */
/* base for main blok */
/* ==================================================================== */

.main-header-1, .main-header-2, .main-header-3, .contacts__paragraf {
  color: var(--main-text-color);
  font-family: San-Francisco;
  font-style: normal;
  font-weight: 200;
}

.main-header-1 {
  font-size: 21px;
  margin-left: 51px;
}

.main-header-2 {
  font-size: 20px;
  text-align: center;
}

.main-header-3 {
  font-size: 18px;
  text-align: center;
}

.main-list {
  padding-left: 34px;
}

.main-list-item {
  margin: 6px 0;
  text-indent: -19px;
}

.main-paragraf, .main-list-item {
  color: var(--main-text-color);
  font-family: San-Francisco;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
}

.main-list-item:before{
  content: "-";
  font-weight: 200;
  padding-right: 12px;
}

.main-link {
  color: var(--main-link-color);
}
  
.main-link:hover {
  text-decoration: underline;
}

.main-quotes {
  font-style: italic;
  quotes: "\00ab" "\00bb";
}

.main-strong-300 {
  font-size: 18px;
  font-weight: 300;
}

.main-strong-200 {
  font-size: 15px;
  font-weight: 200;
}

/* ==================================================================== */
/* html, body blok */
/* ==================================================================== */

html, body {
  overflow: hidden;
}

/* ==================================================================== */
/* preloader blok */
/* ==================================================================== */

.preloader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--general-background);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.svg-background {
  background-image: url(../svg/logo-animation.svg);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

/* ==================================================================== */
/* main blok */
/* ==================================================================== */

.main {
  margin-top: 71px;
}

.conatainer {
  background-color: var(--general-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conatainer-item {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/* ==================================================================== */
/* grid */
/* ==================================================================== */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.row-item-1-576-2, .row-item-1-768-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
}

.display-none-576-flex, .display-none-768-flex, .display-none-992-flex {
  display: none;
}

/* ==================================================================== */
/* services blok */
/* ==================================================================== */

.services-item {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.services-item__img {
  -webkit-transition-duration: var(--general-transition-duration);
       -o-transition-duration: var(--general-transition-duration);
          transition-duration: var(--general-transition-duration);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

/* ==================================================================== */
/* about-me blok */
/* ==================================================================== */

.about-me-gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
}

.about-me-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 33.333333%;
}

.about-me-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.about-me-column__img {
  border-radius: 5px;
}

/* ==================================================================== */
/* contacts blok */
/* ==================================================================== */

.contacts-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__svg {
  margin-left: -120px;
  padding: 15px;
}

.contacts__paragraf {
  font-size: 16px;
  white-space: nowrap;
  width: 0;
}

.contacts__paragraf_margin {
  margin-left: 4%;
}

.contacts-link:hover .contacts__paragraf_hover {
  color: var(--main-link-color);
}

/* ==================================================================== */
/* media queries */
/* ==================================================================== */

@media (min-width: 576px) {
  .row-item-1-576-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .display-none-576-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 16.666667%;
  }

  .contacts__paragraf_margin {
    margin-left: 11%;
  }
}

@media (min-width: 768px) {
  .main-header-1 {
    font-size: 23px;
    margin-left: 50px;
  }

  .main-header-2 {
    font-size: 22px;
  }

  .main-header-3, .main-strong-300 {
    font-size: 20px;
  }

  .main-list-item {
    margin: 8px 0;
    text-indent: 20px;
  }

  .main-paragraf, .main-list-item, .main-strong-200 {
    font-size: 17px;
  }

  .row-item-1-768-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .display-none-768-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 11.111111%;
  }

  .contacts__paragraf_margin {
    margin-left: 5%;
  }
}

@media (min-width: 992px) {
  .display-none-992-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-column {
    max-width: 8.333333%;
  }

  .contacts__paragraf_margin {
    margin-left: 7%;
  }
}

@media (min-width: 1200px) {
  .main-header-1 {
    font-size: 25px;
    margin-left: 47px;
  }
  
  .main-header-2 {
    font-size: 24px;
  }
  
  .main-header-3, .main-strong-300 {
    font-size: 22px;
  }
  
  .main-list-item {
    margin: 10px 0;
    text-indent: -21px;
  }

  .main-paragraf, .main-list-item, .main-strong-200 {
    font-size: 19px;
  }

  .contacts__paragraf_margin {
    margin-left: 5%;
  }
}