.main {
  margin-top: 71px;
}

.conatainer {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
}

.main-header-1, .main-header-2, .main-paragraf, .main-list-item, .main-header-3, .contacts__paragraf {
  color: var(--main-text-color);
  font-family: San-Francisco;
  font-style: normal;
  font-weight: 200;
}

.main-header-1 {
  font-size: 21px;
  margin-left: 27px;
}

.conatainer-item {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.main-header-2 {
  font-size: 20px;
  text-align: center;
}

.main-paragraf, .main-list-item {
  font-size: 15px;
  font-weight: 100;
}

.main-link {
  color: var(--main-link-color);
  outline: none;
  text-decoration: none;
}
  
.main-link:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.row-item-2-576-1, .row-item-2-768-1 {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
}

.services-item {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.responsive-images {
  height: auto;
  max-width: 100%;
}

.services-item__img {
  transition-duration: var(--main-transition-duration);
  transition-property: transform;
  transition-timing-function: ease-out;
}

.main-header-3 {
  font-size: 18px;
  text-align: center;
}

.main-quotes {
  font-style: italic;
  quotes: "\00ab" "\00bb";
}

.about-me-gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -5px;
}

.about-me-column {
  display: flex;
  flex-direction: column;
  max-width: 33.333333%;
}

.about-me-item {
  box-sizing: border-box;
  padding: 5px;
}

.about-me-column__img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

.display-none-576-flex, .display-none-768-flex, .display-none-992-flex {
  display: none;
}

.main-list {
  list-style-type: none;
  padding-left: 34px;
}

.main-list-item {
  margin: 6px 0;
  text-indent: -19px;
}

.main-list-item:before{
  content: "-";
  padding-right: 12px;
  font-weight: 200;
}

.main-strong-300 {
  font-size: 18px;
  font-weight: 300;
}

.main-strong-200 {
  font-size: 15px;
  font-weight: 200;
}

.contacts-link {
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
  text-decoration: none;
}

.contacts-link__svg {
  margin-left: -120px;
  padding: 15px;
}

.contacts__paragraf {
  white-space: nowrap;
  width: 0;
  font-size: 16px;
}

.contacts__paragraf_margin {
  margin-left: 30px;
}

.contacts-link:hover .contacts__paragraf_hover {
  color: var(--main-link-color);
}

@media (min-width: 576px) {
  .row-item-2-576-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .display-none-576-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .row-item-2-768-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .main-header-1 {
    font-size: 23px;
    margin-left: 37px;
  }

  .main-header-2 {
    font-size: 22px;
  }

  .main-header-3, .main-strong-300 {
    font-size: 20px;
  }

  .main-paragraf, .main-list-item, .main-strong-200 {
    font-size: 17px;
  }

  .main-list-item {
    text-indent: 20px;
    margin: 8px 0;
  }

  .display-none-768-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 11.111111%;
  }
}

@media (min-width: 992px) {
  .display-none-992-flex {
    display: flex;
  }

  .about-me-column {
    max-width: 8.333333%;
  }
}

@media (min-width: 1200px) {
  .main-header-1 {
    font-size: 25px;
    margin-left: 47px;
  }
  
  .main-header-2 {
    font-size: 24px;
  }
  
  .main-header-3, .main-strong-300 {
    font-size: 22px;
  }
  
  .main-paragraf, .main-list-item, .main-strong-200 {
    font-size: 19px;
  }

  .main-list-item {
    text-indent: -21px;
    margin: 10px 0;
  }
}