:root {
  --main-color: rgb(86, 61, 124);
  --main-header-text-color: rgb(68, 68, 68);
  --main-background-color: rgb(250, 250, 250);
  --main-transition-duration: .5s;
  
  --header-text-color: rgb(255, 255, 255);

  --carusel-navigation-color-444: rgb(68, 68, 68);
  --carusel-navigation-color-fff: rgb(250, 250, 250);
  --carusel-transition-duration: 2s;
}